body {
  background-image: linear-gradient(
    to bottom,
    #f37505,
    #f39233,
    #f3ab57,
    #f3c27d,
    #f5d7a5
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main {
  max-width: 500px;
  margin: 0px auto;
}
.addForm {
  background-color: blue;
}
